.warren {
    height: 200px;
    width: 800px;
    background-color: orangered;
}

.bapu-ji {
    height: 200px;
    width: 800px;
    background-color: white;
}

.tanmay {
    height: 200px;
    width: 800px;
    background-color: green;
}

img {
    height: 200px;
    width: 400px;
    
}